<div>
  <div data-controls>
    <button class="btn btn-info tutorial-next"><%- gettext("Ok got it, Next") %> <i class="icon-caret-right"></i></button>
    <button class="btn btn-link-secondary tutorial-end" href="#"><%- gettext("Skip the rest of this tutorial") %></a>
  </div>
  <div data-step="welcome">
    <p class="loud">
      <%- gettext("Welcome to Appmaker. We'll start with a short tour.") %>
    </p>
  </div>
  <div data-step="bricks">
      <%- gettext("These are called <strong>bricks</strong>.") %>
  </div>
  <div data-step="customize">
    <p>
      <%- gettext("Once you choose your bricks you can customize them by changing color, size, or other attributes.") %>
    </p>
  </div>
  <div data-step="project-settings">
    <p>
      <%- gettext("Give your app a fancy name, description, and tags.") %>
    </p>
  </div>
  <div data-step="pages">
    <p>
      <%- gettext("You can add pages to your app here.") %>
      <img src="" alt="">
    </p>
  </div>
  <div data-step="channels">
    <p>
      <%- gettext("Once you add bricks to your app you will notice these lines.") %>
      <img src="" alt="">
      <%- gettext("They are called channels and they connect inputs (like this button) to outputs (like these waving hands).") %>
    </p>
  </div>
  <div data-step="colors">
    <p>
      <%- gettext("If you have more than one input and output, click on the connector to switch colors.") %>
    </p>
  </div>
  <div data-step="end">
    <p class="loud">
      <%- gettext("That's it! Now go ahead and start building an app. Happy making!") %>
    </p>
    <button class="btn btn-info tutorial-end"><%- gettext("Done") %></button>
  </div>
</div>
