<% layout('views-layout') %>
    <div id="banner" class="content-block">
      <div class="wrap">
        <div class="two-column">
          <h1><%- gettext("What is Appmaker?") %></h1>
          <div class="banner-description">
            <%- gettext("aboutBannerDesc") %>
          </div>
        </div>
        <div class="two-column">
        </div>
      </div>
    </div>
    <div id="faq" class="content-block light-blue-bg">
      <div class="wrap">
        <h2><%- gettext("Frequently Asked Questions") %></h2>
        <div id="q-list">
          <div>
            <section class="two-column">
              <header><%- gettext("About Appmaker") %></header>
              <ul>
                <li><a href="#list1-q1"><%- gettext("What is Appmaker?") %></a></li>
                <li><a href="#list1-q2"><%- gettext("How much does it cost?") %></a></li>
                <li><a href="#list1-q3"><%- gettext("Where can try it?") %></a></li>
                <li><a href="#list1-q4"><%- gettext("How does it work?") %></a></li>
                <li><a href="#list1-q5"><%- gettext("Are there tutorials, how-to guides or help documentation?") %></a></li>
              </ul>
            </section>
            <section class="two-column">
              <header><%- gettext("Using Appmaker") %></header>
              <ul>
                <li><a href="#list2-q1"><%- gettext("What kinds of apps does it make?") %></a></li>
                <li><a href="#list2-q2"><%- gettext("Can I build on other people’s apps?") %></a></li>
                <li><a href="#list2-q3"><%- gettext("Is it ready to use?") %></a></li>
                <li><a href="#list2-q4"><%- gettext("What are examples of apps I can build?") %></a></li>
                <li><a href="#list2-q5"><%- gettext("Where do the apps work?") %></a></li>
                <li><a href="#list2-q6"><%- gettext("How do I share apps?") %></a></li>
              </ul>
            </section>
          </div>
          <div>
            <section class="two-column">
              <header><%- gettext("Contributing to Appmaker") %></header>
              <ul>
                <li><a href="#list3-q1"><%- gettext("I'm a developer, how can I get involved?") %></a></li>
                <li><a href="#list3-q2"><%- gettext("How can I help other people make their own apps?") %></a></li>
                <li><a href="#list3-q3"><%- gettext("I want to contribute right now — what can I do?") %></a></li>
                <li><a href="#list3-q4"><%- gettext("Can I see the source code?") %></a></li>
                <li><a href="#list3-q5"><%- gettext("Why did you create Appmaker?") %></a></li>
              </ul>
            </section>
            <section class="two-column">
            </section>
          </div>
        </div>
        <div id="faq-in-full">
          <!-- About Appmaker starts ==================== -->
          <section>
            <header><a name="list1-q1"><%- gettext("What is Appmaker?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer1-01") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list1-q2"><%- gettext("How much does it cost?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer1-02") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list1-q3"><%- gettext("Where can try it?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer1-03") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list1-q4"><%- gettext("How does it work?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer1-04") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list1-q5"><%- gettext("Are there tutorials, how-to guides or help documentation?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer1-05") %>
              </p>
            </div>
          </section>
          <!-- About Appmaker ends ==================== -->
          <!-- Using Appmaker starts ==================== -->
          <section>
            <header><a name="list2-q1"><%- gettext("What kinds of apps does it make?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer2-01") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list2-q2"><%- gettext("Can I build on other people’s apps?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer2-02") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list2-q3"><%- gettext("Is it ready to use?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer2-03") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list2-q4"><%- gettext("What are examples of apps I can build?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer2-04") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list2-q5"><%- gettext("Where do the apps work?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer2-05") %>
              </p>
              <p>
                <%- gettext("aboutAnswer2-05-1") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list2-q6"><%- gettext("How do I share apps?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer2-06") %>
              </p>
            </div>
          </section>
          <!-- Using Appmaker ends ==================== -->
          <!-- Contributing to Appmaker starts ==================== -->
          <section>
            <header><a name="list3-q1"><%- gettext("I'm a developer, how can I get involved?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer3-01") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list3-q2"><%- gettext("How can I help other people make their own apps?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer3-02") %>
                <%- gettext("aboutAnswer3-02-1") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list3-q3"><%- gettext("I want to contribute right now — what can I do?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer3-03-1") %><br />
                <%- gettext("aboutAnswer3-03-2") %><br />
                <%- gettext("aboutAnswer3-03-3") %><br />
                <%- gettext("aboutAnswer3-03-4") %><br />
                <%- gettext("aboutAnswer3-03-5") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list3-q4"><%- gettext("Can I see the source code?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer3-04") %>
              </p>
            </div>
          </section>
          <section>
            <header><a name="list3-q5"><%- gettext("Why did you create Appmaker?") %></a></header>
            <div>
              <p>
                <%- gettext("aboutAnswer3-05") %>
              </p>
              <p>
                <%- gettext("aboutAnswer3-05-1") %>
              </p>
            </div>
          </section>
          <!-- Contributing to Appmaker ends ==================== -->
        </div>
      </div>
    </div>
