<!DOCTYPE html>
<html lang="<%- localeInfo.lang %>" dir="<%- localeInfo.direction %>">
  <head>
    <title>Mozilla Appmaker</title>
    <link rel='stylesheet' href='/stylesheets/site.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>
  </head>
  <body>
    <div id="nav">
      <div class="wrap">
        <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
        <div>
          <div id="wordmark" class="left">
            <a href="/<%- localeInfo.lang %>"><img src="images/appmaker_wordmark.png" />
            </a>
          </div>
          <ul id="nav-page-links">
            <div class="right">
              <li id="designer-page" class="right"><a href="/<%- localeInfo.lang %>/designer" class="build-app"><i class="fa fa-mobile"></i><span><%- gettext("Build App") %></span></a></li>
              <li id="blog-page" class="right"><a href="//appmaking.mozillalabs.com/" target="_blank"><%- gettext("Blog") %></a></li>
              <li id="contribute-page" class="right active-page"><a href="/<%- localeInfo.lang %>/contribute"><%- gettext("Contribute") %></a></li>
              <li id="about-page" class="right"><a href="/<%- localeInfo.lang %>/about"><%- gettext("About") %></a></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div id="banner" class="content-block">
      <div class="wrap">
        <div class="two-column">
          <h1><%- gettext("Appmaker grows with your ideas") %></h1>
          <div class="banner-description">
            <%- gettext("Our goal is to focus the vision and development of Appmaker throughout 2014 based on the ideas and contributions of users from around the world.") %>
          </div>
        </div>
        <div class="two-column">
        </div>
      </div>
    </div>
    <div id="contribution-needed" class="content-block light-blue-bg">
      <div class="wrap">
        <h2><%- gettext("Contributions Needed") %></h2>
        <p>
          <%- gettext("For Appmaker to succeed, we need:") %>
          <ul>
            <li><%- gettext("an authoring environment which is as simple to learn as it is effective,") %></li>
            <li><%- gettext("useful and composable components, and") %></li>
            <li><%- gettext("excellent sample apps and tutorials.") %></li>
          </ul>
        </p>
        <p>
          <%- gettext("There is much work to do to finish and perfect these areas, and we’re hoping you can help.") %>
        </p>
        <p>
          <%- gettext("The authoring environment (which we call the  designer) is the core of Appmaker.  Key skills we could use today are  user testing, QA, visual & interaction design, and webdev (node.js  and front-end).  The best way to find out what’s needed for the designer  is to see our Github issues labeled “good for contributors” [link].") %>
          <!-- should links to <a href=\"//github.com/mozilla-appmaker/appmaker/issues?labels=Good+for+Contributors&page=1&state=open\" target="_blank"> ??????? -->
        </p>
        <p>
          <%- gettext("We need both fixes to our existing components, and new components.  We’ll likely make a separate page to keep track of the  components that the community would like to see built, and co-design  them. If you are keen to help here, do get in touch [link] and find out what  the latest thinking is (or just make a pull request).") %>
        </p>
        <p>
          <%- gettext("Finally, it would be very useful to give new  Appmaker users a showcase that demonstrates the breadth of possible apps and provides people with  a good starting point.  If you have introduced Appmaker to new audiences,  please share your materials[contact link], so we can make it easy for others to  find them.") %>
        </p>
      </div>
    </div>
    <% include footer %>
    </div>
  </body>
