<% layout('views-layout') %>
    <div id="banner" class="content-block">
      <div class="wrap">
        <div class="two-column">
          <h1><%- gettext("Appmaker grows with your ideas") %></h1>
          <div class="banner-description">
            <%- gettext("contributeBannerDesc") %>
          </div>
        </div>
        <div class="two-column">
        </div>
      </div>
    </div>
    <div id="contribution-needed" class="content-block light-blue-bg">
      <div class="wrap">
        <h2><%- gettext("Contributions Needed") %></h2>
        <p>
          <%- gettext("For Appmaker to succeed, we need:") %>
          <ul>
            <li><%- gettext("appmakerSuccess-01") %></li>
            <li><%- gettext("appmakerSuccess-02") %></li>
            <li><%- gettext("appmakerSuccess-03") %></li>
          </ul>
        </p>
        <p>
          <%- gettext("appmakerPara-01") %>
        </p>
        <p>
          <%- gettext("appmakerPara-02") %>
          <!-- should links to <a href=\"//github.com/mozilla-appmaker/appmaker/issues?labels=Good+for+Contributors&page=1&state=open\" target="_blank"> ??????? -->
        </p>
        <p>
          <%- gettext("appmakerPara-03") %>
        </p>
        <p>
          <%- gettext("appmakerPara-04") %>
        </p>
      </div>
    </div>
