<div class="page-wrapper">

  <nav class="top-nav clearfix">
    <div class="logo"></div>
    <ceci-card-nav></ceci-card-nav>
    <div class="nav-ui">
      <% include ../public/vendor/webmaker-language-picker/template/partial.ejs %>
      <user-state<% if (allowCustomComponents) {%> customcomponents="true"<%}%>></user-state>
    </div>
  </nav>

  <div class="expand-handle expand-left"></div>
  <div class="tray left-column">
    <div class="tray-header"><%- gettext("Add Bricks") %></div>
    <div class="component-filtering">
      <div class="brick-search">
        <input type="text" class="component-search" placeholder="<%- gettext("Search by name, tag, or description...") %>" />
      </div>
    </div>
    <div class="brick-category"></div>
    <div id="components-wrapper" <% if (!process.env.PRODUCTION) { %>class="development"<% } %> >
      <div id="category-description"></div>
      <div id="components"></div>
    </div>
  </div>
  <div class="expand-handle expand-right"></div>
  <div class="right-column">
    <div class="editable-section">
      <div class="tray-tabs">
        <a class="selected-tab" tab="customize" href="#"><%- gettext("Brick") %></a>
        <a tab="project-settings" href="#"><%- gettext("Project") %></a>
      </div>
      <div class="tab-sections">
        <div class="section section-customize">
          <div class="section-header"><%- gettext("Customize your Brick") %></div>
          <div class="section-content">
            <div class="editable-header nonremix-ui">
              <div class="name"></div>
              <div class="description"></div>
            </div>

            <div class="editable-attributes"></div>
          </div>
        </div>
        <div class="section section-project-settings">
          <div class="section-header"><%- gettext("Name & describe your App") %></div>
          <div class="section-content">
            <project-settings></project-settings>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="phone-container">
      <div class="phone-inner">
        <div class="phone-top">
          <div class="app-name"></div>
        </div>
        <div class="phone-border"></div>
        <div class="phone-shadow"></div>
        <div class="phone-bottom"></div>
        <div class="garbage-bin"></div>
      </div>
    </div>
  </div>

  </div>

  <ceci-channel-map></ceci-channel-map>

<% include publishpane %>
