<div class="page-wrapper">

  <nav class="top-nav clearfix">
    <div class="logo"></div>
    <ceci-card-nav></ceci-card-nav>
    <div class="nav-ui">
      <user-state></user-state>
    </div>
  </nav>

  <div class="expand-handle expand-left"></div>
  <div class="tray left-column">
    <div class="tray-header"><%- gettext("Add Bricks") %></div>
    <div class="component-filtering">
      <div class="brick-search">
        <input type="text" class="component-search" placeholder="<%- gettext("Search by name, tag, or description...") %>" />
      </div>
    </div>
    <div class="brick-category"></div>
    <div id="components-wrapper">
      <div id="components"></div>
    </div>
  </div>

  <div class="expand-handle expand-right"></div>

  <div class="right-column">
    <div class="editable-section">
      <div class="tray-tabs">
        <a class="selected-tab" tab="customize" href="#"><%- gettext("Brick") %></a>
        <a tab="manage-data" href="#"><%- gettext("App Data") %></a>
        <a tab="project-settings" href="#"><%- gettext("Project") %></a>
      </div>
      <div class="tab-sections">
        <div class="section section-customize">
          <div class="editable-header nonremix-ui">
            <span class="name"></span>
          </div>
          <div class="editable-attributes"></div>
        </div>
        <div class="section section-manage-data">
          <data-manager></data-manager>
        </div>
        <div class="section section-project-settings">
          <project-settings></project-settings>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="phone-container">
        <div class="phone-inner">
          <div class="phone-top">
            <div class="app-name"></div>
          </div>
          <div class="phone-border"></div>
          <div class="phone-shadow"></div>
          <div class="phone-bottom"></div>
          <div class="garbage-bin"></div>
        </div>
      </div>
  </div>

</div>

<ceci-channel-map/>

<% include publishpane %>
