<!DOCTYPE html>
<html lang="<%- localeInfo.lang %>" dir="<%- localeInfo.direction %>">
  <head>
    <title>Mozilla Appmaker</title>
    <link rel='stylesheet' href='/stylesheets/site.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <!-- rss-feed-parser.js taken from http://designshack.net/articles/javascript/build-an-automated-rss-feed-list-with-jquery/ -->
    <script type="text/javascript" charset="utf-8" src="/javascripts/rss-feed-parser.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>
  </head>
  <body>
    <div id="nav">
      <div class="wrap">
        <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
        <div>
          <div id="wordmark" class="left">
            <a href="/<%- localeInfo.lang %>"><img src="images/appmaker_wordmark.png" />
            </a>
          </div>
          <ul id="nav-page-links">
            <div class="right">
              <li id="designer-page" class="right"><a href="/<%- localeInfo.lang %>/designer" class="build-app"><i class="fa fa-mobile"></i><span><%- gettext("Build App") %></span></a></li>
              <li id="blog-page" class="right"><a href="//appmaking.mozillalabs.com/"><%- gettext("Blog") %></a></li>
              <li id="contribute-page" class="right"><a href="/<%- localeInfo.lang %>/contribute"><%- gettext("Contribute") %></a></li>
              <li id="about-page" class="right"><a href="/<%- localeInfo.lang %>/about"><%- gettext("About") %></a></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div id="banner" class="content-block">
      <div class="wrap">
        <div class="two-column">
          <h1><%- gettext("Let's Build an App") %></h1>
          <div class="banner-description"><%- gettext("Finally, a simple way to create and share personal mobile apps, even if you don't know code. 100% free and open source.") %></div>
          <button class="button-link white-text-button build-app" onclick="window.location='/<%- localeInfo.lang %>/designer'"><i class="fa fa-mobile"></i><span><%- gettext("Build App") %></span></button>
        </div>
        <div class="two-column">
          <div class="video-splash">
            <iframe src="//www.youtube.com/embed/eyh4ayEZEJY?html5=1" width="960" height="540" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div id="quote" class="content-block">
      <div class="wrap">
        <span><i><%- gettext("\"Mozilla  Appmaker lets you drag and drop components to easily build fun and  useful apps for your friends, your business, your classroom and your  community.\"") %></i></span>
      </div>
    </div>
    <div id="try-demo" class="content-block light-blue-bg">
      <div class="wrap">
        <h1><%- gettext("Try our Demo Apps") %></h1>
        <div id="demo-text" class="left">
          <%- gettext("We've built some demo apps for you to try. We hope you remix them and make  them your own - it's a great way to discover what you can do with Appmaker.") %>
        </div>
        <div id="demo-preview" class="left">
          <div class="three-column">
            &nbsp;
          </div>
          <div class="three-column">
            <%- gettext("demo app preview & link here") %>
          </div>
          <div class="three-column">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div id="widgets" class="content-block">
      <div class="wrap">
        <div class="three-column">
          <h3>Twitter</h3>
          <a class="twitter-timeline"  href="https://twitter.com/MozillaAppmaker" height="250"  data-widget-id="425786940290371584" data-chrome="noheader nofooter">Tweets by @MozillaAppmaker</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="three-column">
          <h3><%- gettext("Recent Blog Posts") %></h3>
          <div id="recent-blog"></div>
        </div>
        <div class="three-column">
          <h3><%- gettext("Get Appmaker Updates") %></h3>
          <div id="sign-up-mailing-list"></div>
          <button class="button-link blue-bg-button full-width-button" onclick="window.location='//mail.mozilla.org/listinfo/appmaker-announce'"><%- gettext("Sign me up!") %></button>
        </div>
      </div>
    </div>
    <% include footer %>
    </div>
    <script>
      // sample code taken from http://designshack.net/articles/javascript/build-an-automated-rss-feed-list-with-jquery/
      $.ajax({
        url: document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent("http://appmaking.mozillalabs.com/feed/"),
        dataType: 'json',
        success: function(data) {
          $.each(data.responseData.feed.entries.slice(0,10), function(key, value){
              var thehtml = '<a href="'+value.link+'" target="_blank">'+value.title+'</a><br />';
              $("#recent-blog").append(thehtml);
          });
        }
      });
    </script>
  </body>
