<!DOCTYPE html>
<html lang="<%- localeInfo.lang %>" dir="<%- localeInfo.direction %>">
  <head>
    <title>Mozilla Appmaker</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/vendor/makerstrap/dist/makerstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/vendor/owlcarousel/owl-carousel/owl.carousel.css' />
    <link rel='stylesheet' href='/vendor/owlcarousel/owl-carousel/owl.theme.css' />
    <link rel='stylesheet' href='/vendor/owlcarousel/owl-carousel/owl.transitions.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/vendor/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35433268-12']);
      _gaq.push(['_setDomainName', 'webmaker.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div id="wordmark" class="left">
            <a href="/<%- localeInfo.lang %>"><img src="images/appmaker_logo_dark.png" alt="logo"></a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </nav>
    <div class="carousel">
      <div id="header-slides" class="owl-carousel">
        <div class="item"><img class="lazyOwl" data-bkg="#22a9cd" src="/images/student.png" /></div>
        <div class="item"><img class="lazyOwl" data-bkg="#f37a62" data-src="/images/work.png" /></div>
        <div class="item"><img class="lazyOwl" data-bkg="#fad665" data-src="/images/friends.png" /></div>
      </div>
      <div class="phone-container">
        <div class="phone-screen">
          <div id="phone-slides" class="owl-carousel">
            <div class="item"><img class="lazyOwl" src="/images/student_phone.png"></div>
            <div class="item"><img class="lazyOwl" data-src="/images/work_phone.png"></div>
            <div class="item"><img class="lazyOwl" data-src="/images/friends_phone.png"></div>
          </div>
        </div>
        <div class="phone-hand">
        </div>
      </div>
    </div>
    <div class="banner">
      <h1>
        <%- gettext("Make an app for your") %>
        <div id="fill-in-the-blank">
          <span id="word-slides" class="owl-carousel">
            <span class="item"><%- gettext("students") %></span>
            <span class="item"><%- gettext("business") %></span>
            <span class="item"><%- gettext("friends") %></span>
          </span>
        </div>
      </h1>
      <p class="lead text-muted">
        Slow-carb brunch plaid 3 wolf moon food truck keffiyeh.  Chia trust fund roof party, hoodie pickled Truffaut master cleanse locavore pork belly.  Keytar irony Bushwick shabby chic, normcore slow-carb iPhone.
      </p>
      <a class="btn btn-primary btn-lg" href="/<%- localeInfo.lang %>/designer">Let's Do It</a>
    </div>
    <div class="linkout">
      <div class="container">
        <div class="row">
          <div id="learn" class="feature col-md-4">
            <h2><%- gettext('Learn') %></h2>
            <p>
              You probably haven't heard of them literally stumptown dreamcatcher letterpress small batch.
            </p>
            <a href="#">Link to action</a>
          </div>
          <div id="contribute" class="feature col-md-4">
            <h2><%- gettext('Contribute') %></h2>
            <p>
              You probably haven't heard of them literally stumptown dreamcatcher letterpress small batch.
            </p>
            <a href="#">Link to action</a>
          </div>
          <div id="imagine" class="feature col-md-4">
            <h2><%- gettext('Imagine') %></h2>
            <p>
              You probably haven't heard of them literally stumptown dreamcatcher letterpress small batch.
            </p>
            <a href="#">Link to action</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="wm-footer">
      <div class="container text-center">
        <p>The footer</p>
      </div>
    </footer>
    <script>
      $(document).ready(function() {
        $("#header-slides").owlCarousel({
          singleItem: true,
          lazyLoad : true,
          navigation : false,
          pagination: false,
          responsiveBaseWidth: $("#header-slides"),
          slideSpeed: 1000,
          paginationSpeed: 1000,
          rewindSpeed: 1000,
          mouseDrag: false,
          touchDrag: false,
          transitionStyle: "fade",
          afterAction: function(){
            var color = $('img', this.$userItems[this.currentItem]).data('bkg');
            var curtain = $('<div class="curtain"></div>');
            curtain.css('background-color', color);
            var old = $('.curtain');
            if (old.length) {
              var animEnd = 'webkitAnimationEnd oAnimationEnd MSAnimationEnd animationend';
              old.addClass('owl-fade-out').on(animEnd, function(){
                old.remove();
              });
              old.after(curtain);
              curtain.addClass('owl-fade-in').on(animEnd, function(){
                curtain.removeClass('owl-fade-in');
              });
            }
            else {
              $('#header-slides').before(curtain);
            }
          }
        });
        $("#word-slides").owlCarousel({
          singleItem: true,
          navigation: false,
          pagination: false,
          responsiveBaseWidth: $("#word-slides"),
          slideSpeed: 1000,
          paginationSpeed: 1000,
          rewindSpeed: 1000,
          mouseDrag: false,
          touchDrag: false,
          transitionStyle: "fade",
          afterInit: function(){
            this.$elem.find('.item').css('visibility', 'visible');
          }
        });
        var header = $("#header-slides").data("owlCarousel");
        var words = $("#word-slides").data("owlCarousel");
        $("#phone-slides").owlCarousel({
          singleItem: true,
          lazyLoad: true,
          navigation: false,
          responsiveBaseWidth: $("#phone-slides"),
          slideSpeed: 1000,
          paginationSpeed: 1000,
          rewindSpeed: 1000,
          autoPlay: 5000,
          mouseDrag: false,
          touchDrag: false,
          transitionStyle: "fade",
          afterMove: function() {
            header.goTo(this.currentItem);
            words.goTo(this.currentItem);
          }
        });
        var phone = $("#phone-slides").data("owlCarousel");
        $("#phone-slides .owl-page").one("click", function(){
          phone.stop();
        });
      });
    </script>
  </body>
</html>