<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
  <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/install.css" />
  <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/install-spinner.css" />
  <script src="<%= process.env.ASSET_HOST %>/vendor/qrcodejs/qrcode.js"></script>
  <title>My Appmaker App</title>
  <% if (process.env.GA_ACCOUNT){ %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "<%- process.env.GA_ACCOUNT %>"]);
      _gaq.push(["_setDomainName", "<%- process.env.GA_PUBLISH_DOMAIN %>"]);
      _gaq.push(["_trackPageview"]);

      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript";
        ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% } %>
</head>
<body>
  <script type="template/html">
    <img src="<%= process.env.ASSET_HOST %>/images/app-icon.png">
    <h1><%- gettext("You'll need Firefox for this App") %></h1>
    <p>
      <%- gettext("In order to install this app") %>
      <%- gettext("see this app in action") %>
      <a href=""><%- gettext("click here")%></a>
    </p>
  </script>
  <p class="app-details">
    <span class="app-title"><%- appname %> - <%- gettext("Made by") %> <a href="<%- webmakerurl %>/u/<%- username %>">@<%- username %></a></span><br>
    <span><%- description %></span>
  </p>
  <div class="install-container">
    <button class="install">
      <span><%- gettext('Install App') %></span>
      <span class="install-spinner"></span>
    </button>
    <button class="run-in-browser">
      <span><%- gettext('Run in Browser') %></span>
    </button>
    <input type="email" class="mail-me-input" placeholder="Your Email">
    <button class="mail-me-button">
      <span><%- gettext('Mail me my app URL') %></span>
    </button>
    <p class="email-success hidden"><%- gettext("We have mailed you your app URL!") %></p>
    <p class="email-fail hidden"><%- gettext("There was a problem mailing you your app URL. Please try again.") %></p>
  </div>
  <p><%- gettext("QR code install explanation") %></p>
  <div id="qrcode"></div>
  <script>
    document.addEventListener('DOMContentLoaded', function (e) {

      var container = document.querySelector(".install-container");
      var appUrl = window.location.toString().replace("install", "app");

      // add install button if we're in FF, otherwise give user handy links
      if(navigator.mozApps && navigator.mozApps.install) {
        var installButton = container.querySelector('.install');
        var runButton = container.querySelector('.run-in-browser');
        var spinner = container.querySelector('.install-spinner');
        installButton.addEventListener('click', function (e) {
          var installRequest = navigator.mozApps.install('<%- manifestUrl %>');

          spinner.classList.add('spinning');
          installRequest.onsuccess = function (data) {
            spinner.classList.remove('spinning');
            console.log('hooray!', data, this.result);
          };

          installRequest.onerror = function (err) {
            spinner.classList.remove('spinning');
            console.error(':(', this.error);
          };
        }, false);
        runButton.addEventListener('click', function (e) {
          window.location.href = appUrl;
        }, false);
      }

      else {
        var scr = document.querySelector("script[type='template/html']");
        container.classList.add("fall-back");
        container.innerHTML = scr.textContent;
        var a = container.querySelector("a");
        a.href = appUrl;
      }
      new QRCode(document.querySelector("#qrcode"), '<%- iframeSrc %>');

      var emailButton = document.querySelector('.mail-me-button');
      var emailInput = document.querySelector('.mail-me-input');
      var emailSuccess = document.querySelector(".email-success");
      var emailError = document.querySelector(".email-fail");

      function disableEmail(disable) {
        emailButton.disabled = disable;
        emailInput.disabled = disable;
      }

      function onError(e) {
        console.error(e);
        disableEmail(false);
        emailError.classList.remove("hidden");
      }

      emailInput.addEventListener("input", function() {
        emailSuccess.classList.add("hidden");
        emailError.classList.add("hidden");
      });

      emailButton.addEventListener("click", function (e) {
        var address = emailInput.value.trim();
        if (!address) {
          return;
        }
        disableEmail(true);

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '<%= process.env.ASSET_HOST %>/notify?appURL=' + encodeURIComponent(window.location.href) + '&email=' + address, true);
        xhr.addEventListener("error", onError);
        xhr.addEventListener("readystatechange", function (e) {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              disableEmail(false);
              emailSuccess.classList.remove("hidden");
            }
            else {
              onError(e);
            }
          }
        });
        xhr.send(null);
      });
    });
  </script>
</body>
</html>
