<!DOCTYPE html>
<html>
  <head>
    <title><%= (typeof title === 'undefined') ? 'Welcome to Appmaker' : title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animations.css' />
    <link rel='stylesheet' href='/sourcesanspro-extralight,sourcesanspro-light,sourcesanspro-regular,sourcesanspro-semibold/fonts.css' />

    <link rel="component" type="text/ceci" href="<%= process.env.COMPONENTS_BASE_URL%>/package/all">
    <script src="<%= process.env.ASSET_HOST%>/vendor/requirejs/require.js"></script>
    <script src="<%= process.env.ASSET_HOST%>/javascripts/requireConfig.js"></script>

  </head>
  <body>
    <%- body %>
  </body>
</html>
