<!DOCTYPE html>
<html lang="<%- localeInfo.lang %>" dir="<%- localeInfo.direction %>">
  <head>
    <title><%= (typeof title === "undefined") ? gettext("Welcome to Appmaker") : title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/cards.css" />
    <link rel="stylesheet" href="/stylesheets/channel-vis.css" />
    <link rel="stylesheet" href="/stylesheets/broadcast-menu.css" />
    <link rel="stylesheet" href="/stylesheets/animations.css" />
    <link rel="stylesheet" href="/stylesheets/persona-buttons.css" />
    <link rel="stylesheet" href="/sourcesanspro-extralight,sourcesanspro-light,sourcesanspro-regular,sourcesanspro-semibold/fonts.css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-35433268-28"]);
      _gaq.push(["_trackPageview"]);

      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript";
        ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="/vendor/polymer/polymer.min.js"></script>
    <link rel="import" href="/ceci/ceci-element-base.html">
    <link rel="import" href="/ceci/ceci-element-designer.html">
    <link rel="import" href="/ceci/ceci-listen.html">
    <link rel="import" href="/ceci/ceci-card-base.html">
    <link rel="import" href="/ceci/ceci-card-designer.html">
    <link rel="import" href="/ceci/ceci-app.html">
    <link rel="import" href="/ceci/ceci-card-nav.html">
    <link rel="import" href="/ceci/ceci-broadcast.html">
    <link rel="import" href="/ceci/ceci-broadcast-vis.html">
    <link rel="import" href="/ceci/ceci-listen-vis.html">
    <link rel="import" href="/ceci/ceci-broadcast-menu.html">
    <link rel="import" href="/ceci/ceci-listen-menu.html">
    <link rel="import" href="/component/mozilla-appmaker/component-button/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-counter/component.html">
    <link rel="import" href="/designer/design-log.html">

    <link rel="import" href="/designer/components.html">

    <script src="<%= process.env.ASSET_HOST%>/vendor/requirejs/require.js"></script>
    <script src="<%= process.env.ASSET_HOST%>/javascripts/requireConfig.js"></script>

  </head>
  <body>
    <div class="persona">
      <a href="#" class="login persona-button"><span><%- gettext("Sign in with your Email") %></span></a>
      <a href="#" class="logout persona-button"><span><%- gettext("Sign out") %></span></a>
      <a href="#" class="account"><span></span></a>
    </div>
    <%- body %>
  </body>
</html>
