<!DOCTYPE html>
<html lang="<%- localeInfo.lang %>" dir="<%- localeInfo.direction %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title><%= (typeof title === "undefined") ? gettext("Welcome to Appmaker") : title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" >

    <link rel="stylesheet" href="/stylesheets/publishpane.css" >

    <link rel="stylesheet" href="/stylesheets/cards.css" >

    <link rel="stylesheet" href="/vendor/colorpicker/jquery.colorpicker.css" />

    <link rel="stylesheet" href="/sourcesanspro-extralight,sourcesanspro-light,sourcesanspro-regular,sourcesanspro-semibold/fonts.css" />

    <link rel="stylesheet" href="/vendor/webmaker-auth-client/create-user/create-user-form.css" />

    <script src="/vendor/platform/platform.js"></script>
    <link rel="import" href="/vendor/polymer/polymer.html">


    <script src="/vendor/requirejs/require.js"></script>
    <% if (!!process.env.BUNDLE) { %>
      <script src="/javascripts/designer-build.js"></script>
    <% } else { %>
      <script src="/javascripts/requireConfig.js"></script>
    <% } %>

    <script src="/vendor/jsonlint/lib/jsonlint.js"></script>

    <script>
      var TogetherJSConfig_cloneClicks = true;
    </script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>

    <script>
    (function () {
      // We need to make sure we have our client-side .json file loaded before
      // all the components so that we can use it when the HTML file loaded.
      require(['l10n'], function(localized) {
        localized.ready({url: "/strings/" + localized.getCurrentLang() });
      });
    })();
    </script>


    <% bundles.emit('designer-components.html').forEach(function(href) { %>
    <link rel="import" href="/<%= href %>">
    <% }); %>

    <% if (!!process.env.BUNDLE){ %>
      <link rel="import" href="/bundles/components/mozilla-appmaker.html">
    <% } else { %>
      <% components.forEach(function(href) { %>
      <link rel="import" href="<%= href %>">
      <% }) %>
    <% } %>

    <script src="/vendor/qrcodejs/qrcode.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-35433268-12"]);
      _gaq.push(["_setDomainName", "webmaker.org"]);
      _gaq.push(["_trackPageview"]);

      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript";
        ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>
    <%- body %>
  </body>
</html>
