    <div id="publish-pane" class="hidden">
      <div id="publish-pane-panel">
        <button id="close-publish-pane-panel"></button>
        <div id="publish-pane-panel-content" class="hidden">
          <div id="publish-pane-panel-inner">
            <div id="publish-pane-logo">
              <p class="publish-guide-text">
                <%- gettext("Your app has been successfully published") %>
                <%- gettext("It's ready for use at:") %>
              </p>
              <p class="app-link">
                <a id="applink" href=''></a>
              </p>
            </div>
            <div class="qrcodes-container">
              <ul><li><a data-qrcode-for="install"><%- gettext("Install this app") %></a></li><li><a data-qrcode-for="app"><%- gettext("Use this app") %></a></li></ul>
              <div class="qrcode-wrapper" data-qrcode-for="install">
                <div class="qrcode" data-qrcode-for="install"></div>
              </div>
              <div class="qrcode-wrapper" data-qrcode-for="app">
                <div class="qrcode" data-qrcode-for="app"></div>
              </div>
            </div>
            <div class="mail-link">
              <input type="email" id="publish-pane-panel-email" placeholder="Your Email">
              <button id="publish-pane-button"><%- gettext("Mail me my app URL") %></button>
            </div>
            <div class="mail-notice">
              <p class="publish-guide-text"><%- gettext("We have mailed you your app URL!") %></p>
            </div>
            <div class="mail-error">
              <p class="publish-guide-text"><%- gettext("There was a problem mailing you your app URL. Please try again.") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
