<!DOCTYPE html>
<html>
  <head>
    <title>Published Flathead Project</title>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css" />
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/remix.css" />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600" rel="stylesheet" type="text/css">
    <base href="<%- ceciComponentURL %>">

    <script src="/vendor/platform/platform.js"></script>
    <script src="/vendor/polymer/polymer.js"></script>

    <script src="/vendor/requirejs/require.js"></script>
    <script src="/javascripts/requireConfig.js"></script>


    <% bundles.emit('ceci.html').forEach(function(href) { %>
    <link rel="import" href="/<%= href %>">
    <% }); %>

    <!-- This is a list of all known components. Ideally, this is a compiled list of only-the-app components -->
    <% components.forEach(function(href) { %>
    <link rel="import" href="<%= href %>">
    <% }) %>
  </head>
  <body>
    <%- appHTML %>
    <% include remixpane %>
  </body>
</html>
