<div id="publish-pane" class="hidden">
  <div id="publish-pane-panel">
    <div id="publish-pane-panel-content" class="hidden">
      <button class="close-panel" id="close-publish-pane-panel"></button>
      <h1>
        <%- gettext("You've Published your App!") %>
      </h1>

      <h2><%- gettext("App Install Link") %></h2>
      <p>
        <a title="Install your App" class="install-link" id="install-link" href=''></a>
      </p>

      <div class="app-buttons">
        <a class="app-button" id="install-button" href=""><%- gettext("Install Now") %></a>
        <a class="app-button" id="view-button" href=""><%- gettext("View as Web App") %></a>
      </div>

      <p><%- gettext("Or scan to install...") %></p>

      <div class="qrcode" data-qrcode-for="install"></div>

      <div class="mail-wrapper">
        <div class="mail-link">
          <input type="email" id="publish-pane-panel-email" placeholder'"<%- gettext("Your Email") %>'>
          <a href="#" id="publish-pane-button"><%- gettext("Email my App URL") %></a>
        </div>
        <div class="mail-notice">
          <p class="publish-guide-text"><%- gettext("We have mailed you your app URL!") %></p>
        </div>
        <div class="mail-error">
          <p class="publish-guide-text"><%- gettext("There was a problem mailing you your app URL. Please try again.") %></p>
        </div>
      </div>
  </div>
</div>
