<!DOCTYPE html>
<html>
  <head>
    <title><%- appName %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/app.css" />
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/remix.css" />
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/loading.css" />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=320, user-scalable=no">
    <script>
      if(screen.width > 600) {
        var mvp = document.querySelector('meta[name=viewport]');
        mvp.setAttribute('content','width=device-width');
      }
    </script>
    <base href="<%- ceciComponentURL %>">

    <script src="/vendor/platform/platform.js"></script>
    <script src="/vendor/polymer/polymer.js"></script>

    <script src="/vendor/requirejs/require.js"></script>
    <script src="/javascripts/requireConfig.js"></script>

    <script>
      require(['l10n'], function(localized) {
        localized.ready({url: "/strings/" + localized.getCurrentLang() });
      });
    </script>

    <% bundles.emit('ceci.html').forEach(function(href) { %>
    <link rel="import" href="/<%= href %>">
    <% }); %>

    <!-- This is a list of all known components. Ideally, this is a compiled list of only-the-app components -->
    <% if (!!process.env.BUNDLE){ %>
      <link rel="import" href="/bundles/components/mozilla-appmaker.html">
    <% } else { %>
      <% components.forEach(function(href) { %>
      <link rel="import" href="<%= href %>">
      <% }) %>
    <% } %>

    <% userComponents.forEach(function(href) { %>
      <link rel="import" href="<%= href %>">
    <% }) %>
  </head>
  <body>
    <div class="app">
      <%- appHTML %>
      <% include loadingpane %>
    </div>
    <% include remixpane %>
  </body>
</html>
