<!DOCTYPE html>
<html>
  <head>
    <title>Published Flathead Project</title>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600" rel="stylesheet" type="text/css">
    <link rel="component" type="text/ceci" href="<%= process.env.COMPONENTS_BASE_URL %>/package/all">
    <script src="<%= process.env.ASSET_HOST %>/vendor/requirejs/require.js"></script>
    <script>
      (function(){
        var requireCtx = require.config({
          baseUrl: '<%= process.env.ASSET_HOST %>',
          paths: {
            'ceci': 'vendor/ceci/ceci',
            'ceci-ui': 'vendor/ceci/ceci-ui',
            'ceci-cards': 'vendor/ceci/ceci-cards',
            'jquery': 'vendor/jquery/jquery.min'
          }
        });

        requireCtx(['ceci', 'ceci-ui', 'ceci-cards'], function (Ceci) {
          Ceci.load(function (components) {
            Ceci.convertContainer(document.getElementById('flathead-app'));
          });
        });
      })();
    </script>
  </head>
  <body>
    <%- appHTML %>
    <div>
      <button id="remix-button">Remix</button>
      <script>
        (function(){
          var remixButton = document.querySelector('#remix-button');
          remixButton.onclick = function (e) {
            var f = document.createElement('form');
            var i = document.createElement('input');
            f.method = 'post';
            f.action = '<%= process.env.ASSET_HOST %>/designer';
            i.type = 'hidden';
            i.name = 'data';
            i.value = '<%- appHTML.replace(/\n/g, "\\n") %>';
            f.appendChild(i);
            f.submit();
          };
        })();
      </script>
    </div>
  </body>
</html>
