<!DOCTYPE html>
<html>
  <head>
    <title>Published Flathead Project</title>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600" rel="stylesheet" type="text/css">
    <link rel="component" type="text/ceci" href="<%= process.env.COMPONENTS_BASE_URL %>/package/all">
    <script src="<%= process.env.ASSET_HOST %>/vendor/requirejs/require.js"></script>
    <script>
      (function(){
        var requireCtx = require.config({
          baseUrl: '<%= process.env.ASSET_HOST %>'
        });

        requireCtx(['vendor/ceci/ceci'], function (Ceci) {
          Ceci.load(function (components) {
          });
        });
      })();
    </script>
  </head>
  <body>
    <div id="flathead-app">
<%
  if (!!cards) {
    cards.forEach( function(card, cardIndex) {
      var elements;
-%>
      <div class="ceci-card" id="ceci-card-<%= cardIndex + 1 %>">
        <div class="fixed-top">
          <% elements = card.top; -%>
          <% include publish-elements-partial.ejs %>
        </div>
        <div class="phone-canvas">
          <% elements = card.canvas; -%>
          <% include publish-elements-partial.ejs %>
        </div>
        <div class="fixed-bottom">
          <% elements = card.bottom; -%>
          <% include publish-elements-partial.ejs %>
        </div>
      </div>
<%
    });
  }
-%>
    </div>
  </body>
</html>
