<!DOCTYPE html>
<html>
  <head>
    <title>Published Flathead Project</title>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600" rel="stylesheet" type="text/css">
    <link rel="component" type="text/ceci" href="<%= process.env.COMPONENTS_BASE_URL %>/package/all">
    <script src="<%= process.env.ASSET_HOST %>/vendor/requirejs/require.js"></script>
    <script>
      (function(){
        var requireCtx = require.config({
          baseUrl: '<%= process.env.ASSET_HOST %>',
          paths: {
            'ceci': 'vendor/ceci/ceci',
            'ceci-ui': 'vendor/ceci/ceci-ui',
            'ceci-cards': 'vendor/ceci/ceci-cards',
            'jquery': 'vendor/jquery/jquery.min'
          }
        });

        requireCtx(['ceci', 'ceci-ui', 'ceci-cards'], function (Ceci) {
          Ceci.load(function (components) {
            Ceci.convertContainer(document.getElementById('flathead-app'));
          });
        });
      })();
    </script>
  </head>
  <body>
    <%- appHTML %>
    <div>
      <div id="remix-icon"></div>
  <div id="panel">
    <button id="close-panel"></button>
    <div id="panel-content" class="hidden">
      <div id="panel-inner">
        <div id="remix-logo">
          <img src ="<%= process.env.ASSET_HOST %>/images/chef-man.png">
        </div>
        <input type="email" id="panel-email" placeholder="Your Email">
        <button id="remix-button">Remix</button>
        <div id="remix-explanation">
          This app was created with Mozilla Lab's Appmaker. We'll send you a link so you can remix it and make it your own.
        </div>
      </div>
    </div>
  </div>
      <script>
        (function(){
          var open = document.getElementById("remix-icon");
          var panel = document.getElementById("panel");
          var content = document.getElementById("panel-content");
          var close = document.getElementById("close-panel");
          open.onclick = function(e){
            panel.className = "expanded";
            content.className = "";
            open.className = "hidden";
          }
          close.onclick = function(e){
            content.className = "hidden";
            open.className = "";
            panel.className = "";
          }
          var remixButton = document.querySelector('#remix-button');
          remixButton.onclick = function (e) {
            var f = document.createElement('form');
            var i = document.createElement('input');
            f.method = 'post';
            f.action = '<%= process.env.ASSET_HOST %>/designer';
            i.type = 'hidden';
            i.name = 'data';
            i.value = '<%- appHTML.replace(/\n/g, "\\n") %>';
            f.appendChild(i);
            f.submit();
          };
        })();
      </script>
    </div>
  </body>
</html>
