    <div id="remix-pane">
      <div id="remix-icon"></div>
      <div id="remix-panel">
        <button id="close-remix-panel"></button>
        <div id="remix-panel-content">
          <div id="remix-panel-inner">
            <input type="email" id="remix-panel-email" placeholder="Your Email">
            <button id="remix-button" class="remix-button"><%- gettext("Mail me the remix link") %></button>
            <button id="remix-now-button" class="remix-button"><%- gettext("Remix now") %></button>
            <button id="install-now-button" class="remix-button">
              <%- gettext("Install App") %>
              <span class="install-spinner"></span>
            </button>
            <div class="remix-explanation">
              <%- gettext("remixExplaination") %>
            </div>
          </div>
        </div>
      </div>
      <script>
        (function(){
          var open = document.getElementById('remix-icon');
          var panel = document.getElementById('remix-panel');
          var close = document.getElementById('close-remix-panel');
          var email = document.getElementById('remix-panel-email');

          open.onclick = function (e) {
            panel.classList.add('expanded');
            open.classList.add('hidden');
            remixButton.disabled = false;
            email.disabled = false;
            remixButton.classList.remove('fadeout');
            email.classList.remove('fadeout');
            email.value = '';
          };

          function closeRemixPanel (e) {
            panel.classList.remove('expanded');
            open.classList.remove('hidden');
          }

          close.onclick = closeRemixPanel;

          var remixButton = document.querySelector('#remix-button');
          remixButton.onclick = function (e) {
            remixButton.disabled = true;
            email.disabled = false;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '<%= process.env.ASSET_HOST %>/remix?app=<%- remixURL %>&email=' + email.value, true);
            xhr.onerror = function (e) {
              console.error(e);
            };
            xhr.onload = function (e) {
              console.log(e);
            };
            xhr.send(null);
            setTimeout(function () {
              remixButton.classList.add('fadeout');
              email.classList.add('fadeout');
              closeRemixPanel();
            }, 500);
          };

          var remixNowButton = document.querySelector("#remix-now-button");
          if ('ontouchstart' in window) {
            remixNowButton.classList.add('hidden');
          } else {
            remixNowButton.onclick = function (e) {
              window.open('<%= process.env.ASSET_HOST %>/remix?app=<%- remixURL %>');
            };
          }

          var installNowButton = document.querySelector("#install-now-button");
          // add install button if we're in FF, otherwise give user handy links
          if(navigator.mozApps && navigator.mozApps.install) {
            var spinner = document.querySelector('.install-spinner');
            installNowButton.addEventListener('click', function (e) {
              var installRequest = navigator.mozApps.install('<%- manifestUrl %>');

              spinner.classList.add('spinning');
              installRequest.onsuccess = function (data) {
                spinner.classList.remove('spinning');
              };

              installRequest.onerror = function (err) {
                spinner.classList.remove('spinning');
              };
            }, false);
          } else {
            installNowButton.classList.add('hidden');
          }

        })();
      </script>
    </div>
