<!DOCTYPE html>
<html lang="<%- localeInfo.lang %>" dir="<%- localeInfo.direction %>">
  <head>
    <title>Mozilla Appmaker</title>
    <link rel='stylesheet' href='/stylesheets/site.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <% if (view === 'home') { %>
    <!-- rss-feed-parser.js taken from http://designshack.net/articles/javascript/build-an-automated-rss-feed-list-with-jquery/ -->
    <script type="text/javascript" charset="utf-8" src="/javascripts/rss-feed-parser.js"></script>
    <% } %>
    <script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>
    <% if (process.env.GA_ACCOUNT){ %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "<%- process.env.GA_ACCOUNT %>"]);
        _gaq.push(["_setDomainName", "<%- process.env.GA_DESIGNER_DOMAIN %>"]);
        _gaq.push(["_trackPageview"]);

        (function() {
          var ga = document.createElement("script"); ga.type = "text/javascript";
          ga.async = true;
          ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% } %>
  </head>
  <body>
    <div id="nav">
      <div class="wrap">
        <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
        <div>
          <div id="wordmark" class="left">
            <a href="/<%- localeInfo.lang %>"><img src="images/appmaker_wordmark.png" alt="logo" />
            </a>
          </div>
          <ul id="nav-page-links">
            <div class="right">
              <li id="designer-page" class="right"><a href="/<%- localeInfo.lang %>/designer" class="build-app"><i class="fa fa-mobile"></i><span><%- gettext("Build App") %></span></a></li>
              <li id="blog-page" class="right"><a href="//appmaking.mozillalabs.com/"><%- gettext("Blog") %></a></li>
              <li id="contribute-page" class="right <% if (view === 'contribute') { %>active-page<% } %>"><a href="/<%- localeInfo.lang %>/contribute"><%- gettext("Contribute") %></a></li>
              <li id="about-page" class="right <% if (view === 'about') { %>active-page<% } %>"><a href="/<%- localeInfo.lang %>/about"><%- gettext("About") %></a></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <%- body %>
    <footer id="footer" class="content-block">
      <div class="wrap">
        <div id="footer-links" >
          <div class="three-column">
            <header><%- gettext("About") %></header>
            <ul>
              <li><a href="/about"><%- gettext("FAQ") %></a></li>
              <li><a href="http://appmaking.mozillalabs.com/"><%- gettext("Blog") %></a></li>
            </ul>
          </div>
          <div class="three-column">
            <header><%- gettext("Resources") %></header>
            <ul>
              <li><a href="/contribute"><%- gettext("Contribute") %></a></li>
              <li><a href="https://github.com/mozilla-appmaker/appmaker/wiki"><%- gettext("Documentation") %></a></li>
            </ul>
          </div>
          <div class="three-column">
            <header><%- gettext("Contact") %></header>
            <ul>
              <li><a href="https://mail.mozilla.org/listinfo/appmaker"><%- gettext("E-mailing List") %></a></li>
            </ul>
            <div id="social">
              <a href="https://twitter.com/MozillaAppmaker"><img src="images/icon_twitter.png" alt="Twitter" /></a>
              <a href="https://github.com/mozilla-appmaker/appmaker"><img src="images/icon_github.png" alt="Github"/></a>
            </div>
          </div>
        </div>
      </div>
      <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
    </footer>
</body>
